body{
    background-color: rgb(49, 52, 49);
    margin-top: 70px;
    margin-left: 350px; 
}

.box{
    border: 1px solid white;
    height: 100px;
    width: 100px;

}
.container{
    padding:0px;
    background-color: gold;
    display: grid;
    height: 440px;
    width: 440px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    border: 1px solid olivedrab;
}

.item{
    min-width: 55px; 
    max-width: 55px;  
    min-height: 55px;
    max-height: 55px;
}

.light {
    background-color: rgb(240, 240, 234);
}

.dark {
    background-color: rgb(16, 149, 16);
}

img{
    margin-top: 1px;
    height: 55px;
}
